body {
		background-image: url("Triangle-mosaic1.png");
		background-repeat: repeat;
		background-size: auto;
		padding: 50px;
		padding-top: 0px;
	}

	h1{
		font-size: 80px;
		font-family: 'B612', sans-serif;
		color: #fffff3;
		margin: 0px;
	}
	h2 {
		font-size: 70px;
		font-family: 'B612', sans-serif;
		color:#ffffff;
		margin-top: 20px;

	}
	h3 a{
		font-size: 40px;
		font-family: 'B612', sans-serif;
		color:#ffffff;
		margin-top: 0px ;
		margin-right: 60px;
		margin-left: 20px;
		opacity: 0.6;
	}
	h3 a:hover{
		font-size: 40px;
		font-family: 'B612', sans-serif;
		color:#ffffff;
		margin-top: 0px ;
		margin-right: 60px;
		margin-left: 20px;
		opacity: 1;
	}

	p {
		font-size: 25px;
		font-family: "Courier";
		color:#ffffff;

	}
	img{
		display:block;
		margin-left: 0;
		height: 400px;
	}
	* {
  		box-sizing: border-box;
	}
	.column {
  		float: left;
  		width: 50%;
  		padding: 10px;
  	}
  	.pealkirjariba {
  		margin-right: 10px;
  		margin-bottom: 10px;
  		background-color:#747A80;
  	}

  	.vaheleheriba{
  		background-color: #747A80;
  		margin: 0px;
  	}

	ul {
		font-size: 30px;
		font-family: "Courier";
		color:#ffffff;
	}
	.left, .right {
		background-color: #747A80;
    	margin-top: -20px;
    	padding: 30px;
    	padding-bottom: 30px;
	}