body {
		background-image: url("Triangle-mosaic1.png");
		background-repeat: repeat;
		background-size: auto;
		padding: 50px;
		padding-top: 0px;
	}

	h1{
		font-size: 80px;
		font-family: 'B612', sans-serif;
		color: #fffff3;
		margin: 0px;
		margin-left: 20px;
		padding-bottom: 15px;
		margin-bottom: -20px;
	}
	h2 {
		font-size: 60px;
		font-family: 'B612', sans-serif;
		color:#ffffff;
		margin-top: 0px;
		margin-bottom: 25px;
	}

	h3 a{
		font-size: 40px;
		font-family: 'B612', sans-serif;
		color:#A5D3F4;
		margin-top: 0px ;
		margin-right: 60px;
		margin-left: 20px;
		opacity: 0.6;
	}
	h3 a:hover{
		font-size: 40px;
		font-family: 'B612', sans-serif;
		color:#ffffff;
		margin-top: 0px ;
		margin-right: 60px;
		margin-left: 20px;
		opacity: 1;
	}

	h4 {
		font-size: 25px;
		font-family: 'B612', sans-serif;
		color:#ffffff;
		margin-top: 8px;
		margin-bottom: 8px;
	}

	p {
		font-size: 20px;
		font-family: "Courier";
		color:#ffffff;

	}
	img{
		display:block;
	}
	* {
  		box-sizing: border-box;
	}
	.column {
  		float: left;
  		width: 50%;
  		padding: 10px;
  	}
  	.pealkirjariba {
  		margin-bottom: 0px;
  		background-color:#747A80;

  	}

  	.vaheleheriba{
  		background-color: #747A80;
  		margin-top: 0px;
  		padding-bottom: 10px;
  	}

	ul {
		font-size: 25px;
		font-family: "Courier";
		color:#ffffff;
	}
	.left, .right {
		background-color: #747A80;
    	margin-top: 10px;
    	padding: 30px;
    	padding-bottom: 30px;
	}
	.left {
    padding-left: 30px;
    float: left;
	}
	.right {
    padding-top: 25px;
    padding-right: -20px;
	}
	#Thonnypic{
		padding-top: 30px;
		padding-left: 12px;
		padding-bottom: 50px;
		width: 545px;
		height: auto;
	}
	#Pythoncodepic{
		padding-left: 20px;
		height: 400px;
		padding-bottom: 20px;
		margin-bottom: 77px;
	}